<!DOCTYPE html>
<html lang="en">
<head>
  <%- partial('_partial/head') %>
</head>
<body>
  <%- partial('_partial/header') %>
  <li><button id="toggleButton">三<i class="fas fa-share-alt"></i></button></li>
  <div id="container">
    
    <%- body %>
    
  </div>
  
  <%- partial('_partial/side_bar') %>
  <%- partial('_partial/footer') %>
</body>
</html>
